header {
    background-color: #FFE436;
    color: #FFE436;
}

#main-image_interview {
    height: 680px;
    background: url("../images/sitting.jpg");
    background-size: cover;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 30px;
}
#main-image_interview h2
{
    font-weight: normal;
    text-align: center;
    padding: 110px 0 40px 0;
    margin-bottom: 300px;
    margin-top: 110px;
    color: #261213;
}
#main-image_interview h2:hover {
    opacity: 30%;
}


section+p {
    margin-top: 120px;
}
/* SPLIT */

#decoTitre img{
    width: 794px;
    height: 414px;
}

div, section {
    font-family: "Bell MT", sans-serif;

    font-size: 31px;
}

section {
    border: 2px black solid;
    margin: 30px;
    padding: 25px;

}
li {
    list-style-type: none;
}

section div div p {
    box-shadow: 6px 6px 6px black;
}

section p {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

#depart_titre {
    color: #F4442E;
    text-align: center;
    font-size: 65px;
}

#depart_texte {
    font-size: 31px;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;

}
h3 {
    text-align: center;
}
