html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    text-decoration: none;
    color: #141414;
    background-color: #edecec;
}

p {

}

h1 {
    color: deeppink;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: darkblue;
}

nav a:hover {
    text-decoration: none;
}

.btn, a.btn {
    background-color: transparent;
    background-image: none;
    border-width: 1px;
    border-radius: 0;
    padding: 8px 27px;
    font-size: 15px;
    border-color: #d0142b;
    color: #d0142b !important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}