header {
    height: 120px;
    background-color: #edecec;
}
header h1
{
    float: left;
    margin-top: 32px;
}
header nav
{
    float: right;
    margin-top: 52px;
}
header nav ul li
{
    float:left;
    display: inline-block;
    font-family: Arial, sans-serif;
}
header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 10px;
}
