header {
    background-color: #87BFFF;
    z-index: 2;
}

/*body {
    background-image: url("../images/fond2.jpg");
    background-repeat: no-repeat;
    opacity: 1;
}*/

.testBG {
    z-index: -1;
    width: 100%;
    height: auto;
    opacity: 0.8;
    position: absolute;
}